.child_image {
    border-radius: 40%;
    height: auto;
    width: 15em;
}

.children {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Pangolin', cursive;
}

.detail_link {
    display:flex;
    justify-content: flex-end;
}

.detailimg {
    border-radius: 100%;
    height: 5em;
    width: auto;
}

.detailheader{
    display: flex;
    flex-wrap: wrap;
}

.childdetail {
    display:flex;
    flex-direction: column;
}

.childdetail_milestone {

    padding: 2em;
}

.childdetail_provider {
    padding: 2em;
}

.child_link {
    color: #3b4e50;
    padding: 0em 1em .5em;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    }

.buttons {
    display:flex;
    justify-content: space-around;
}