/* .childimg {
    height: auto;
    width: 15em;
} */
.child_image {
    border-radius: 40%;
    height: auto;
    width: 15em;
}

.children {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

