.milestones_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wholemilestones {
    display:flex;
    flex-wrap: wrap;
}

.milestonessearches {
    background-color: yellow;
    height: auto;
    margin-right: .5em;
    padding: .5em;
}