.milestones_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: auto;
}

.wholemilestones {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.milestonessearches {
    background-color: yellow;
    height: auto;
    margin-right: .5em;
    padding: .5em;
    width: 30em;
}

.milestone_card {
    height: auto;
    width: 25em;
}