.wholetips {
    display:flex;
    flex-wrap: nowrap;
}

.tipsearches {
    background-color: yellow;
    height: auto;
    margin-right: .5em;
    padding: .5em;
}

.tips_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: auto;
}

.tip_card {
    display:flex;
    flex-direction: column;
    padding: .5em;
    width: 15em
}