.providers_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.wholeproviders {
    display:flex;
    flex-wrap: wrap;
}

.providersearches {
    background-color: yellow;
    height: auto;
    margin-right: .5em;
    padding: .5em;
}