.providers_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.wholeproviders {
    display:flex;
    flex-wrap: nowrap;
}

.providersearches {
    background-color: yellow;
    height: auto;
    margin-right: .5em;
    padding: .5em;
    width: 35em;
}

.provider_card {
    height: auto;
    width: 25em
}