.wholelocations {
    display: flex;
    flex-wrap: nowrap;
}

.locationsearches {
    background-color: #ffc94b;
    height: auto;
    margin-right: .5em;
    padding: .5em;
    font-family: 'Pangolin', cursive;
}

.locations_list {
    display: flex;
    flex-wrap: wrap;
}

.Location_card {
    display:flex;
    flex-direction: column;
    padding: .5em;
    width: 20em;
    border: solid 5px;
    border-image: linear-gradient(#ffc94b, #F17A7E) 10;
    margin: .5em;
    font-family: 'Pangolin', cursive;
}

.location_title {
    color: #3b4e50;
    padding: 0em 1em .5em;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    }