.comments {
    font-family: 'Pangolin', cursive;
    width: 45em;
}
.commentForm{
    font-family: 'Pangolin', cursive;
    width: 45em;
}

.comment_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45em; 
}